@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
 


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    font-size: 14pt;
    line-height: 1.5;
    color:#000000; 
    background-color: #FCF8DD;  
}

header{
    margin-left: 3%;
    padding: 2%;
}

.container{
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
}

.titulo{
    padding-bottom: 2rem;
    position: relative;
    z-index: 1000;
}

.titulo h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.centralizar{
    text-align: center;
}

.formulario{
    background-color: #3F612D;
    width: 50vw;
    height: 10vh;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.descricao{
    text-align: justify;
}

.descricao p{
    padding: 1.5rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    z-index: 1000;
}

.negrito{
    font-weight: bold;
}

.icone{
    border-radius: 15px 15px;
    max-width:150px;
    max-height:100px; 
    position:relative;
    z-index: 1000;  
}

.input{
    width: 20vw;
    height: 3vh;
    margin: 0 10px;
    background-color: #FCF8DD;
    border: none;
}

.botao{
    border: none;
    background-color: #F26B5B;
    height: 3vh;
    width: 10vw;
    color: white;
    border-radius: 20px;
}

/* .imagem{
    opacity: 0.3;
} */

.fundo{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    /* background: rgba(254, 250, 220, 0.75); */
    position: absolute;
    z-index: 0;
}

.contagem{
    width:auto;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
    
